{%- assign scheduleitem = include.scheduleitem -%}

<tr>
	<td style="width: 15%">
		<div class="col-xs-12">
			<p align="center">
				{{ scheduleitem.time }}
			</p>
		</div>
	</td>
	<td class="hide-mobile" style="width: 10%">
		<div class="col-xs-12">
			<p align="center">
				{% if scheduleitem.img %}
					<img class="people-pic-small" src="{{ scheduleitem.img | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
				{% endif %}
			</p>
		</div>
	</td>
	<td align="center" style="width: 60%">
		<div class="col-xs-12">
			<p class="talk-title">{{ scheduleitem.title }}</p>
			<div class="hide-mobile" style="text-align: center; font-size: 0.9em;">{{ scheduleitem.content }}</div>
		</div>
	</td>
	<td style="width: 15%">
		<div class="people-name text-center">
			<!-- scheduleitem name (link to webpage if provided) -->
			{% if scheduleitem.webpage %}
				<a href="{{ scheduleitem.webpage }}" target="_blank">{{ scheduleitem.speaker }}</a>
			{% else %}
				{{ scheduleitem.speaker }}
			{% endif %}
			<br>
			<!-- scheduleitem affiliation (if provided) -->
			{% if scheduleitem.affil_link %}
				<a href="{{ scheduleitem.affil_link }}" target="_blank">{{ scheduleitem.affil }}</a>
			{% else %}
				{{ scheduleitem.affil }}
			{% endif %}
			<!-- Additional scheduleitem affiliation (if provided) -->
			{% if scheduleitem.affil2_link %}
				<br>
				<a href="{{ scheduleitem.affil2_link }}" target="_blank">{{ scheduleitem.affil2 }}</a>
			{% elsif scheduleitem.affil2 %}
				<br>
				{{ scheduleitem.affil2 }}
			{% endif %}
		</div>
	</td>
</tr>